header{
    background-color: white;
    color: red;
    padding: 1%;
    }
    
    body{
    background-color: black;
    }
    
    .chamada{
    background-color: white;
    padding-bottom: 2em;
    padding-top: 1%;
    }
    